@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  max-width: 1440px;
	margin: 0 auto;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 10px;
}
nav h1 a {
  color: #fff;
  font-size: 2em;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #267fca;
  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-options label {
  display: none;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px auto;
  min-height: 380px;
  padding: 0 30px 25px;
  width: 33%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  height: 48px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  height: 42px;
}
#restaurants-list li a {
  background-color: #267fca;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:hover {
  background-color: orange;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

body , .inside header {
  max-width: 1440px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: relative;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-top-left-radius: 10%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, .map-container{
  width: 48%;
  padding: 0 1%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  
}

#restaurant-container {
  background-color: white;
}

.margin {
  margin: 130px 0 0;
}

#reviews-container {
  padding: 30px 40px 80px;
  width: 90%;
  margin: 50px auto;
  /* remove dupplicated padding */
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  font-size: 1.5em;
}

.panel{
  background-color: #252831;
  display: flex;
  border-top-left-radius: 20px;
}
.panel p {
  width: 50%;
  padding: 10px;
  margin: auto;
}
.panel p:first-child {
  color: white;
  font-weight: bold;
}
.panel p:last-child {
  color: #aaa;
  font-size: 1em;
  text-align: right;
}

#reviews-list li p:last-child {
  color: #666;
}

.orange {
  color: white;
  background-color: orange;
  border-radius: 5px;
  width: 100px;
  text-transform: uppercase;
  margin-left: 10px;
  padding: 10px;
}

.panel p:last-child, #reviews-list li p:last-child {
  padding: 0 10px;
}

#restaurant-hours td {
  color: #666;
  font-size: 1.5em;
}

/* TODO: Set media query to max width 450px */
@media screen and (max-width: 450px) {
  nav {
    height: auto;
  }

  nav h1 a {
    font-size: 1em;
    letter-spacing: 5px;
  }

  .filter-options {
    height: 130px;
  }

  #restaurants-list {
    padding: 30px 0 60px;
  }

  #restaurants-list li {
    margin: 10px auto;
    width: 90%;
  }

  /* Styles for restaurant.html */

  #restaurant-container, .map-container {
    width: 100%;
    padding: 0;
  }

  .map-container {
    height: 200px;
  }

  #reviews-container {
    padding: 0;
  }

  #restaurant-hours td, #reviews-list li p {
    font-size: 1.2em; 
  }
  
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  nav h1 {
    padding: 25px;
  }
  nav h1 a {
    font-size: 1em;
    letter-spacing: 5px;
  }
}